# Telegram Bot API Token
settings/token.txt

# YouTube API Token
settings/apikey.txt

# Python Pre-compiled Cache
*__pycache__/

# Bot Users Database
data/bitchlasagnabot.db

# Logged Data
data/datalog.txt
data/graph.png